.movie__list {
  &__container {
    width: 85vw;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  &__cards {
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}
